<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinjikanri.mapper.UserCharRightRelMapper">
	<resultMap
		type="com.jinjikanri.entity.SYST06UserCharRightRelEntity" id="RelMap">
		<result column="USER_CHAR_RIGHT_CD" property="userCharRightCd" />
		<result column="USER_CHAR_RIGHT_MEI"
			property="userCharRightMei" />
		<result column="USR_CD" property="usrCd" />
		<result column="CHAR_CD" property="charCd" />
		<result column="RIGHT_CD" property="rightCd" />
		<result column="REC_SAKS_ZITU_YMD_HMS"
			property="recSaksZituYmdHms" />
		<result column="REC_KOSN_ZITU_YMD_HMS"
			property="recKosnZituYmdHms" />
	</resultMap>

	<!--添加用户角色权限关系 -->
	<insert id="saveRel"
		parameterType="com.jinjikanri.entity.SYST06UserCharRightRelEntity">
		insert into
		syst06user_char_right_rel(USER_CHAR_RIGHT_MEI,USR_CD,CHAR_CD,RIGHT_CD,REC_SAKS_ZITU_YMD_HMS,REC_KOSN_ZITU_YMD_HMS)
		values(#{userCharRightMei},#{usrCd},#{charCd},#{rightCd},#{recSaksZituYmdHms},#{recKosnZituYmdHms})
	</insert>

	<!--根据关系实体删除用户角色权限关系 -->
	<select id="selectRelByEntity"
		parameterType="com.jinjikanri.entity.SYST06UserCharRightRelEntity"
		resultMap="RelMap">
		SELECT * FROM syst06user_char_right_rel
		<where>
			<if test="userCharRightCd!=null">AND USER_CHAR_RIGHT_CD = #{userCharRightCd} </if>
			<if test="userCharRightMei!=null">AND USER_CHAR_RIGHT_MEI = #{userCharRightMei} </if>
			<if test="usrCd!=null">AND USR_CD = #{usrCd} </if>
			<if test="charCd!=null">AND CHAR_CD = #{charCd} </if>
			<if test="rightCd!=null">AND RIGHT_CD = #{rightCd} </if>
		</where>
	</select>

	<!--根据relCd删除用户角色权限关系 -->
	<delete id="removeRelByRelCd" parameterType="Integer">
		delete from
		syst06user_char_right_rel
		where USER_CHAR_RIGHT_CD = #{relCd}
	</delete>

	<!--根据usrCd删除用户角色权限关系 -->
	<delete id="removeRelByUsrCd" parameterType="Integer">
		delete from
		syst06user_char_right_rel
		where USR_CD = #{usrCd}
	</delete>

	<!--根据charCd删除用户角色权限关系 -->
	<delete id="removeRelByCharCd" parameterType="Integer">
		delete from
		syst06user_char_right_rel
		where CHAR_CD = #{charCd}
	</delete>

	<!--根据rightCd删除用户角色权限关系 -->
	<delete id="removeRelByRightCd" parameterType="Integer">
		delete from
		syst06user_char_right_rel
		where RIGHT_CD = #{rightCd}
	</delete>
</mapper>